NETWORK=172.30.5

# Collectors
CNP='51 52'

# Computes
CMP='53 54'

# CCP
CCP='55 56'

# SVGW
SGW='57 58'

# UI
UIP='59 60'

# MGT
MGT='57 58'

# VIPs
CNP0=61
CCP0=62
SGW0=63
UIP0=64
MGT0=63

MIDMSTARTDC="SANMATEO"
MIDMENDDC="FSLAB"
