#!/bin/bash

BASE_STAGE="."
BASE_DEST="/opt/vzw/pmr"

# Staging
STAGE_USER='sapproxy'
STAGE_IP='10.215.166.166'
STAGE_DATA_SAP="${BASE_STAGE}/guavus/var/pmr/data/pm/SAP"
STAGE_DATA_DC="${BASE_STAGE}/guavus/var/pmr/data/pm/VISP"
STAGE_TRAPS="${BASE_STAGE}/guavus/var/pmr/traps"
STAGE_ALARMS="${BASE_STAGE}/guavus/var/pmr/data/alarms/snmp"

# Destination
DEST_USER='vzwpmr'
DEST_IP='66.160.146.100'
DEST_PASS='vzwpmr@123'
DEST_DATA_SAP="${BASE_DEST}/data/pm/SAP"
DEST_DATA_DC="${BASE_DEST}/data/pm/VISP"
DEST_TRAPS="${BASE_DEST}/traps"
DEST_ALARMS="${BASE_DEST}/data/alarms/snmp"

# Environment
RSYNC="/usr/bin/rsync"
RSYNCOPT=" -avzrR "
SSHP="/usr/bin/sshpass"
LOGF_PM="${BASE_STAGE}/guavus/scripts/var/log/pm-tx.status"
LOGF_ALARM="${BASE_STAGE}/guavus/scripts/var/log/trap-tx.status"
SYNC_HOURS=24
DCLIST="ANJTMDAHVIS ALPRGAGQVIS AURSCOTYVIS AZUSCA21VIS BTRHLAGRVIS BRHOALTBVIS BLTNMN86VIS BBTPNJ02VIS SFTPPABQVIS CHNTVAAVVIS CHRXNCLHVIS CLMBOHIQVIS HSNOTX08VIS CNCQOH22VIS ESYRNYENVIS ELSSTX13VIS IPLTINQYVIS HCHLILMTVIS HLBOOR38VIS JHTWPADPVIS NLVGNVOQVIS LENYKSCJVIS SFLDMILRVIS LSAOCAGXVIS ARTNTNBIVIS WHCKTN04VIS NWBLWICZVIS OMALNEXUVIS ONTRCAOYVIS ORLHFLCFVIS PMBRFLTFCVIS WMTPPAAAVIS RDMEWA22VIS HNRTNYCRVIS RCKLCAIGVIS STLSMOYQVIS SCHZTXCEVIS SNVACANXVIS TEMQAZKWVIS TULYOK13VIS VISTCA65VIS WLTPNJ22VIS WJRDUT30VIS WSBOMAGJVIS CTTPMIBGVIS IPLUINXIVIS NWCSDEBGVIS WNDSCTWLVIS"

# Minutes - 72 hours and 48 hours. Trap files may not require cleanup as they will be overwritten daily. In case the Sync stops or is terminated then we may need a cleanup of trap files once they get older than 2 days (48 hours).
PM_DATA_RETENTION="4320"
TRAP_RETENTION="2880"

# Update as per the VCS command.

function am_i_online {
   host='';host=`/bin/hostname`
   online='';online=`/opt/VRTSvcs/bin/hastatus -sum | grep -w ONLINE | awk '{print $3}'`
   if [[ "${host}"=="${online}" ]]; then echo 0; else echo 127 ; fi
}

function write_pm_status {
   printf "%s [%s] , %s\n" "`date`"  "`basename $0`" "$*" > ${LOGF_PM}
}

function write_alarm_status {
   printf "%s [%s] , %s\n" "`date`"  "`basename $0`" "$*" > ${LOGF_ALARM}
}

RSH="${SSHP} -e ssh -o StrictHostKeyChecking=no -l ${DEST_USER}"
if [[ ${DEST_PASS} == '' ]]; then DEST_PASS="NULL"; fi
export SSHPASS="${DEST_PASS}"
